.profileWrap{
    padding-top: 200px;
}
.userWrap{
    width: 420px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 4px;
    box-shadow: 2px 2px 15px grey, -2px -2px 15px lightblue;
    cursor: pointer;
}